body {

font-family: 'Roboto';

}

main {

height: 100vh;

display: flex;

flex-direction: column;

justify-content: center;

align-items: center;

background-image: url('https://images.unsplash.com/photo-1491466424936-e304919aada7?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8YmVhdXRpZnVsJTIwd2FsbHBhcGVyfGVufDB8fDB8fHww');

background-attachment: fixed;

background-size: cover;

}